extends /layout
block content
  img(src='/public/assets/images/algorithms-js.png', alt='Onodera JS')
    
  h1 github Pages Boilerplate v2
  
  p 
    | This article tries to answer the three most popular questions regarding fontselection in LaTeX. Rather than providing ready-made answers, it tries pri-marily to provide some guidance through the existing documentation.
