doctype html
html.no-js(lang="")
		head
				meta(charset="utf-8")
				meta(http-equiv="x-ua-compatible" content="ie=edge")
				title Page Title
				meta(name="description" content="")
				meta(name="viewport" content="width=device-width, initial-scale=1")
				//- FONT Lusitana
				link( href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet")
					
				link(rel="apple-touch-icon" href="apple-touch-icon.png")
				link(rel="stylesheet" href='/public/css/main.css')
		body
				//
						[if lt IE 8]>
						<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
						<![endif]
				// Add your site or application content here
				block content
				
				
				
				
				
				// Google Analytics: change UA-XXXXX-Y to be your site's ID.
				script.
					window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date; ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
					script(src="https://www.google-analytics.com/analytics.js" async defer)
