---
layout: default
---
<!-- Load KaTeX -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.js"></script>

<div class="article-wrapper">
    <article>
        {% include article-header.html page=page link=false share=page.share %}
        <section class="post-content">
            {{ content }}
        </section>
        {% include article-footer.html page=page share=page.share %}
    </article>
</div>